
.App {

}
.main-button {

  box-shadow: 0px 5px 7px -5px #276873;
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
  background-color:#599bb3;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:20px;
  font-weight:bold;
  padding:10px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  margin:10px;
  outline:none
}
.main-button:hover {
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color:#408c99;
}
.main-button:active {
  position:relative;
  top:1px;
}